body {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #000;
    color: #0f0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    font-family: 'Courier New', monospace;
    position: relative;
    min-height: 100vh;
}

.watermark {
    position: absolute;
    bottom: 10px; /* Jarak dari bawah halaman */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    opacity: 0.5;
    z-index: 9999;
}

/* Untuk memberikan efek cyberpunk, Anda dapat menyesuaikan properti warna dan teks sesuai keinginan Anda */
.watermark::before {
    content: 'Developed by Erland Agsya';
    color: #0ff; /* Warna teks watermark */
    font-weight: bold;
    letter-spacing: 2px;
}

h1 {
    color: #0f0;
}

p {
    color: #0f0;
}

#name-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#quiz-container {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

input {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #111;
    color: #0f0;
    border: 1px solid #0f0;
}

.fade-in {
    opacity: 1 !important;
}

.fade-out {
    opacity: 0;
}

#skip-btn, #prev-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #1e90ff; /* Warna biru elektrik */
    color: #fff;
    border: none;
    border-radius: 5px;
}

#skip-btn:hover, #prev-btn:hover {
    background-color: #00ff00; /* Warna hijau neon */
}

#result {
    margin-top: 20px;
    color: #0f0;
}

#chart-container {
    margin-top: 20px;
    display: none;
}